.calories {
    background: url("../images/calorie.jpg") no-repeat center center fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.calories {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.calorieInput { 
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 8px;
    border-radius: 10px 10px 0px 0px;
    background: rgba(210, 208, 208, 0.2);
    transition: border-image 0.5s;
}

.calorieInput:placeholder {
    color: transparent;
}

.calorieInput:placeholder-shown {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    color: white;
}

.calorieInput:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #39ef7d);
    color: white;
    border-image-slice: 1;
}

/* Colors: 
 *  primary: #11998e
 *  secondary: #38ef7d
*/

.button {
    background: transparent;
    color: white;
    border: 0;
    background: rgba(210, 208, 208, 0.2);
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px 10px 10px 10px;

    transition: all 0.2s;
}

.button:active {
    background: white;
    color: black;
}

.title {
    font-weight: 700;
}